# VDF TOOLS

fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
pydantic>=2.5.0
python-dotenv==1.0.0
websockets==12.0
aiofiles==23.2.1
psutil==5.9.0

# Shared Forensic Tool Dependencies (aLEAPP & iLEAPP)

bcrypt>=4.0.1
beautifulsoup4==4.8.2
bs4
bencoding
blackboxprotobuf
fitdecode==0.10.0
folium==0.14.0
geopy==2.3.0
pillow
pillow_heif
polyline==2.0.0
protobuf>=3.20.0,<5.0.0
PyCryptodome
pytz
simplekml
wheel
xlsxwriter==3.1.1
xmltodict
astc_decomp_faster
biplist
ijson
mmh3
mdplistlib
nska-deserialize>=1.3.1
numpy==1.26.4
packaging>=23.2
pandas
pathlib2==2.3.5
PGPy
pyinstaller

# pyliblzfse for Windows
whl_files/pyliblzfse-0.4.1-cp310-cp310-win_amd64.whl; python_version == "3.10" and platform_system == "Windows"
whl_files/pyliblzfse-0.4.1-cp311-cp311-win_amd64.whl; python_version == "3.11" and platform_system == "Windows"
whl_files/pyliblzfse-0.4.1-cp312-cp312-win_amd64.whl; python_version == "3.12" and platform_system == "Windows"

pyliblzfse


